<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/imgs/logo.png" type="image/x-icon">
    <title>Germi Scan About</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">
            <img src="../static/imgs/logo.png" alt="">
        </a>
        <nav class="navbar">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>


    </header>
    <section class="about home" >    
            <div class="content">
                <h3>What makes our Model special?</h3>
                <p>Our germination rate prediction model stands out with its cutting-edge AI and machine learning algorithms, delivering highly accurate forecasts tailored to different seed types and environmental conditions. By analyzing real-time data, it helps farmers optimize planting strategies, reduce seed wastage, and maximize yields. With a user-friendly interface and continuous learning capabilities, our model adapts to changing climates, ensuring reliable results. Experience smarter farming with data-driven insights for sustainable agriculture.</p>
                <a href="#" class="btn">learn more</a>
            </div>
    </section>


</body>
</html>